body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

h1 {
    text-align: center;
}

a {
    color: #0d2ebe;
    text-decoration: none;
}

.hide {
    display: none !important;
}

div.flexBoxInit {
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    margin-bottom: 20px;
    padding: 5px 10px;
    min-width: 300px;
}

p.left {
    padding-left: 3%;
    font-weight: bold;
}

div.QRcodeShow {
    flex-direction: column;
    gap: 15px;
    padding-top: 0px;
}

div#cardQRCode {
    display: flex;
    justify-content: center;
}

div.walletStatus {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
}

div.balanceType {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p.balanceShow {
    margin: 0%;
    font-size: 1.25em;
    font-weight: bold;
}

p.balanceName {
    margin-top: 20%;
    font-size: 0.85em;
}

div.cardMenu button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
    width: 100%;
    height: 45px;
    background: transparent;
    border: none;
    font-size: medium;
}

form.inputType {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    width: 85%;
    gap: 8px;
    font-size: 14px;
}
form.inputType input {
    border: 1px solid black;
    border-radius: 5px;
    padding: 6px 12px;
    margin-bottom: 4%;
}
form.inputType button {
    border-radius: 6px;
    padding: 6px 12px;
    background-color: #1c8139;
    font-size: 14px;
    color: white;
    border: unset;
}

div.apiSiteSetting {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div.shopInfo {
    align-items: center;
    gap: 5%;
}

div.loginMenu {
    justify-content: center;
    align-items: center;
}